@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@keyframes peep {
  0%   {transform:rotateX(90deg);}
  100% {transform:rotateX(0deg);}
}

html,body {
  margin: 0;
  max-height: 100vh;
  width: 100%;
  font-family: 'Gravitas One', cursive;
}
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  
}

.structure {
  width: 100%;
  height: 100vh;
  &-element {
    width: 100%;
    position: absolute;
    pointer-events: none;
    height: 100vh;
    img {
      width: 100%;
      height: 100vh;
    }
  }
}

.panel {
    position: fixed;
    top: 1vh;
    right: 1vh;
    z-index: 1000;
    transform: rotate(5deg);
    height: 20vh;
    width: auto;
    img {
        width: auto;
        height: 100%;
    }
    .score{
        width: 100%;
        margin: auto;
        position: absolute;
        top: 6.3vh;
        font-size: 4.5vh;
        text-shadow: 0px 1px 1px #1c530e;
	      color: rgb(95, 78, 30);
    }
}

.monkeys{
  width: 100vw;
  display: flex;
  position: absolute;
  justify-content: space-around;
  .monkey {
    flex: 1;
    img {
      width: auto;
      height: 20vh;
      display: none;
      transform-origin: 0%;
      animation: 0.2s ease-in peep;
    }
  }
}
.top-monkeys {
  position: absolute;
  top:1vh;
  .monkey {
    img {
      transform-origin: 100%;
    }
  }
}
.bottom-monkeys {
  bottom:20vh;
}

.start-wrapper{
  width: 100vw;
  height: 100vh;
  position:fixed;
  top:0;
  left:0;
  background-color: #0f2c0793;
  z-index: 1001;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  h1{
    font-size:4em;
    margin: 1em;
  }
  button{
    border: none;
    background: none;
  }
  svg{
    background-color: transparent;
  }
  img {
    height: 40%;
  }
}
 .playing{ 
  display: none;
}

